[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dlib = "*"
numpy = "*"
opencv-python = "*"
scikit-learn = "*"
scikit-image = "*"
matplotlib = "*"
face-recognition = "*"

[dev-packages]

[requires]
python_version = "3.11"
